# 11.-Recursión, Búsqueda, Ordenamiento, Iteración

## 11.2.- Algoritmos iterativos y Recursivos

### 11.2.1.- Fibonacci

Vamos a armar la sucesión de Fibonacci - Comenamos definiendola. Recuerda que los primeros 2 numeros, son 0 y 1, y los numeros subsecuentes son la suma de los 2 anteriores

In [6]:
def fibonaci(n):
    if n in (0,1):
        return n
    else:
        return fibonaci(n-1)+fibonaci(n-2)

Ahora vamos a probarla, arma un for que muestre lo valores Fibonacci de 0 a 40.

In [11]:
for n in range(41):
    print(f'k({n})={fibonaci(n)}')

k(0)=0
k(1)=1
k(2)=1
k(3)=2
k(4)=3
k(5)=5
k(6)=8
k(7)=13
k(8)=21
k(9)=34
k(10)=55
k(11)=89
k(12)=144
k(13)=233
k(14)=377
k(15)=610
k(16)=987
k(17)=1597
k(18)=2584
k(19)=4181
k(20)=6765
k(21)=10946
k(22)=17711
k(23)=28657
k(24)=46368
k(25)=75025
k(26)=121393
k(27)=196418
k(28)=317811
k(29)=514229
k(30)=832040
k(31)=1346269
k(32)=2178309
k(33)=3524578
k(34)=5702887
k(35)=9227465
k(36)=14930352
k(37)=24157817
k(38)=39088169
k(39)=63245986
k(40)=102334155

#### Por tu cuenta

La versión iterativa de fibonacci es el siguiente programa. Usa %timeit para comparar la versión original vs la iterativa para los numeros 32,33 y 34

def fibonacci_iterativo(n):
    resultado = 0
    temp = 1
    for j in range(0,n):
        temp, resultado = resultado, resultado + temp
    return resultado

In [13]:
def fibonacci_iterativo(n): 
    resultado = 0 
    temp = 1 
    for j in range(0,n): 
        temp, resultado = resultado, resultado + temp 
        return resultado

In [15]:
fibonacci_iterativo(2)

1

### 11.2.2.- Series Geometricas

Ahora vamos a armar series geometricas. Está tendra a=3, r=1/2 y n=20

COmenzamos con la definicion de las variables a y r

In [21]:
a=3
r=1/2

Ahora vamos a la definición de la función serie_geom(n)

In [22]:
def serie_geom(n):
    if n==0:
        return a
    else:
        return serie_geom(n-1)+a*r**(n-1)

Y terminamos con la impresión de los resultados del 1 al 10

In [23]:
for n in range (1,10):
    print(f'k({n})={serie_geom(n)}')

k(1)=6.0
k(2)=7.5
k(3)=8.25
k(4)=8.625
k(5)=8.8125
k(6)=8.90625
k(7)=8.953125
k(8)=8.9765625
k(9)=8.98828125

In [24]:
serie_geom(10)

8.994140625

### 11.2.3.- Factorial

Ahora vamos a ver factoriales, comenzamos definiendo la funcion factorial

In [25]:
def factorial(n):
    if n<=1:
        return 1
    else:
        return n*factorial(n-1)

E imprimimos del 1 al 20

In [27]:
for i in range(1,21):
    print(f'{i}!={factorial(i)}')

1!=1
2!=2
3!=6
4!=24
5!=120
6!=720
7!=5040
8!=40320
9!=362880
10!=3628800
11!=39916800
12!=479001600
13!=6227020800
14!=87178291200
15!=1307674368000
16!=20922789888000
17!=355687428096000
18!=6402373705728000
19!=121645100408832000
20!=2432902008176640000

Ahora intenta el factorial de forma iterativa

## 11.3.- Búsqueda

### 11.4.- Búsqueda lineal

La busqueda lineal es la mas sencilla y mensa, simplemente va elemento por elemento del arreglo viendo si es el indicado

Vamos a comenzar haciendo una función sencilla de búsqueda lineal

In [31]:
def busqueda_lineal(datos, dato_buscar):
    for indice, valor in enumerate (datos):
        if valor == dato_buscar:
            return indice
    return -1
datos = [1.70, 1.65, 1.58, 1.81, 1.84, 1.78, 1.68, 1.72]
print('El número que buscas tiene índice:',busqueda_lineal(datos, 1.81))

El número que buscas tiene índice: 3

## 11.4.- Ordenamiento

### 11.4.1.- Ordenamiento por Selección

Vamos a comenzar con Ordenamiento por Selección

En este ciclo, se reduce la cantidad de elementos, una vez que se ha encontrado el elemento más
pequeño y se ubica en la primera posición.

In [33]:
import numpy as np
def ordenamiento_sel(datos):
    for indice1 in range(len(datos) - 1):
        peque = indice1
        for indice2 in range(indice1 + 1, len(datos)):
            if datos[indice2] < datos[peque]:
                peque = indice2
        datos[peque], datos[indice1] = datos[indice1], datos[peque]

En esta parte se identifica el elemento más pequeño, entre los elementos que quedan, y se intercambia de posición con el elemento que tiene el índice más bajo.

Y ahora apliquemos este algoritmo a auna lista que contiene la estatura de 9 personas

1.85, 1.70, 1.58, 1.83, 1.80, 1.75, 1.70, 1.90, 1.65

In [36]:
datos= np.array([1.85, 1.70, 1.58, 1.83, 1.80, 1.75, 1.70, 1.90, 1.65])
print (f'Unsorted array: {datos}\n') ## datos sin ordenar

Unsorted array: [1.85 1.7  1.58 1.83 1.8  1.75 1.7  1.9  1.65]

In [38]:
ordenamiento_sel(datos)
print (f'Arreglo ordenado: {datos}\n') ## datos sin ordenar

Arreglo ordenado: [1.58 1.65 1.7  1.7  1.75 1.8  1.83 1.85 1.9 ]