In [ ]:
import mysql.connector as sql
import pandas as pd

In [ ]:
def create_database():
    ## conectarse a la base de datos 
    con = sql.connect(user='m.martinez11',password='gotenssj5',host='localhost', database='datos',port='3306') 
    cur=con.cursor()
    con.commit()

    cur.execute("DROP DATABASE IF EXISTS accounts")
    cur.execute("CREATE DATABASE accounts")
    cur.close()
    con = sql.connect(user='m.martinez11',password='gotenssj5',host='localhost', database='accounts',port='3306')
    cur=con.cursor()
    return cur,con

In [ ]:
def drop_tables(cur,con):
    for query in drop_table_queries:
        cur.execute(query)
        con.commit()

In [ ]:
def create_tables(cur,con):
    for query in create_table_queries:
        cur.execute(query)
        con.commit()

In [ ]:
AccountsCountry=pd.read_csv("Wealth-AccountsCountry.csv")

In [ ]:
AccountsCountry.head()

In [ ]:
AccountsCountry_clean=AccountsCountry[["Code","Short Name","Table Name","Long Name","Currency Unit"]]

In [ ]:
AccountsCountry_clean.head()

In [ ]:
AccountsData=pd.read_csv("Wealth-AccountData.csv")

In [ ]:
AccountsData.head()

In [ ]:
AccountsData.columns

In [ ]:
AccountsData=AccountsData[["Country Name","Country Code","Series Code","1996 [YR1996]","1997 [YR1997]","1998 [YR1998]"]]

In [ ]:
AccountSeries=pd.read_csv("Wealth-AccountSeries.csv")

In [ ]:
AccountSeries=AccountSeries[["Code","Topic","Indicator Name","Long definition"]]

In [ ]:
AccountSeries.head()

In [ ]:
cur , conn=create_database()

In [ ]:
songplay_table_create=("""CREATE TABLE IF NOT EXISTS accountscountry (
country_code VARCHAR(255),
short_name VARCHAR(255),
table_name VARCHAR(255),
long_name VARCHAR(255),
currency_unit VARCHAR(255)
)
 """)

In [ ]:
conn.commit()

In [ ]:
cur.execute(songplay_table_create)
conn.commit()

In [ ]:
accounts_data_table_create=("""CREATE TABLE IF NOT EXISTS accountsdata (
country_name VARCHAR(255),
country_code VARCHAR(255),
indicator_name VARCHAR(255),
year_1996 numeric(38,0),
year_1997 numeric(38,0),
year_1998 numeric(38,0)
)
 """)
cur.execute(accounts_data_table_create)
conn.commit()

In [ ]:
accountsseries_data_table_create=("""CREATE TABLE IF NOT EXISTS accountseries (
series_code VARCHAR(255) ,
topic VARCHAR(255),
indicator_name VARCHAR(255),
short_definition numeric(38,0)
)
 """)
cur.execute(accountsseries_data_table_create)
conn.commit()

In [ ]:
accounts_country_table_insert=("""INSERT INTO accountscountry(
country_code,
short_name,
table_name,
long_name,
currency_unit)
VALUES (%s,%s,%s,%s,%s)

""")

In [ ]:
for i, row in AccountsCountry_clean.iterrows():
    
    cur.execute(accounts_country_table_insert,list(row))

In [ ]:
conn.commit()

In [ ]:
accounts_data_table_insert=("""INSERT INTO accountsdata(
country_name,
country_code,
indicator_name,
year_1996,
year_1997,
year_1998 )
VALUES (%s,%s,%s,%s,%s,%s)

""")

In [ ]:
for i, row in AccountsData.iterrows():
    print(list(row))
    cur.execute(accounts_data_table_insert,list(row))

conn.commit()

In [ ]:
accountsseries_data_table_insert=("""INSERT INTO accountseries(
country_name,
country_code,
indicator_name,
year_1996,
year_1997,
year_1998 )
VALUES (%s,%s,%s,%s,%s,%s)

""")

In [ ]:
## https://www.youtube.com/watch?v=POjDCe-_G8k