## CONEXION A LA BASE DE DATOS

In [98]:
import mysql.connector as sql

In [99]:
db = sql.connect(user='m.martinez11',password='gotenssj5',host='localhost', database='pysql',port='3306')

print(db)

try: 
    cursor=db.cursor()
except sql.Error as e:
    print("Error:Could not get curser to the DataBase")
    print(e)

try:
    cursor.execute("SHOW DATABASES")
    for x in cursor:
        print(x)
except sql.Error as e:
    print(e)

<mysql.connector.connection.MySQLConnection object at 0x000002767DF1A7A0>
('datos',)
('db_index',)
('ejemplo_datos',)
('information_schema',)
('myfirstdb',)
('mysql',)
('performance_schema',)
('periodos',)
('practicas',)
('proveedores',)
('pysql',)
('record_company',)
('ropa_linea',)
('sys',)

In [80]:
try:
    cursor.execute("SHOW TABLES")
    for x in cursor:
        print(x)
except sql.Error as e:
    print("Error:Issue creating table")
    print(e)

('clienti',)

## Procedimiento para ejecutar querys

In [76]:
try: 
    cursor=db.cursor()
except sql.Error as e:
    print("Error:Could not get curser to the DataBase")
    print(e)

In [8]:
try:
    cursor.execute("CREATE DATABASE pysql;")
except sql.Error as e:
    print(e)

## CREACION DE TABLAS

In [19]:
try:
    cursor.execute("CREATE TABLE IF NOT EXISTS clienti (id INT AUTO_INCREMENT PRIMARY KEY , name VARCHAR(255));")
except sql.Error as e:
    print("Error:Issue creating table")
    print(e)

In [23]:
try:
    cursor.execute("ALTER TABLE clienti ADD coname VARCHAR(255);")
except sql.Error as e:
    print("Error:Issue creating table")
    print(e)

## INSERTAR DATOS EN UNA TABLA!

##### INSERTAR LOS DATOS
##### INSERTO MULTIPLE 
##### RECIBIR ID DE UNA FILA DETERMINADA

In [33]:
sql = " INSERT INTO clienti (name, coname) VALUES (%s,%s)"
values = ("Luca","Rossi")
try:
    cursor.execute(sql,values)
except sql.Error as e:
    print("Error")
    print(e)

db.commit() ##Actualizar las tablas 
print( "id fila insertada:",cursor.lastrowid)

id fila insertada: 8

In [27]:
sql = " INSERT INTO clienti (name, coname) VALUES (%s,%s)"
values = [("Caro","Mar"),
          ("Mateo","Mart"),
          ("Ism","Cruz"),
          ("Giovanni","Culo")
          ]
try:
    cursor.executemany(sql,values)
except sql.Error as e:
    print("Error")
    print(e)

### seleccionar datos en una tabla con condiciones

In [97]:
### traer datos de una tabla 
sql = "SELECT * FROM clienti "
try:
    cursor.execute(sql)
except sql.Error as e:
    print("Error")
    print(e)

result=cursor.fetchall()
for fila in result:
    print(fila)

AttributeError: 'str' object has no attribute 'Error'

In [96]:
### traer la primera linea de la tabla de datos  
sql = "SELECT * FROM clienti "
try:
    cursor.execute(sql)
except sql.Error as e:
    print("Error")
    print(e)

result=cursor.fetchone()
for fila in result:
    print(fila)

1
Luca
Rossi

In [100]:
query = "SELECT id, name FROM clienti WHERE coname = 'Culo' "
cursor.execute(query)
result1=cursor.fetchall()
for fila in result1:
    print(fila)

(5, 'Giovanni')

## Order by and Limit

In [104]:
import mysql.connector as sql
db = sql.connect(user='m.martinez11',password='gotenssj5',host='localhost', database='pysql',port='3306')
try: 
    cursor=db.cursor()
except sql.Error as e:
    print("Error:Could not get curser to the DataBase")
    print(e)

query="SELECT * FROM clienti ORDER BY name"
cursor.execute(query)
resultado=cursor.fetchall()
for fila in resultado:
    print(fila)

(2, 'Caro', 'Mar')
(5, 'Giovanni', 'Culo')
(4, 'Ism', 'Cruz')
(1, 'Luca', 'Rossi')
(6, 'Luca', 'Rossi')
(7, 'Luca', 'Rossi')
(8, 'Luca', 'Rossi')
(3, 'Mateo', 'Mart')

In [139]:
import mysql.connector as sql
import numpy as np
import pandas as pd
db = sql.connect(user='m.martinez11',password='gotenssj5',host='localhost', database='pysql',port='3306')
try: 
    cursor=db.cursor()
except sql.Error as e:
    print("Error:Could not get curser to the DataBase")
    print(e)

query="SELECT * FROM clienti ORDER BY id"
cursor.execute(query)
resultado=cursor.fetchall()
tupla_multi=()
for fila in resultado:
    tupla_multi += fila

In [148]:
import mysql.connector as sql
import numpy as np
import pandas as pd
db = sql.connect(user='m.martinez11',password='gotenssj5',host='localhost', database='pysql',port='3306')
try: 
    cursor=db.cursor()
except sql.Error as e:
    print("Error:Could not get curser to the DataBase")
    print(e)

query="SELECT * FROM clienti ORDER BY id"
cursor.execute(query)
resultado=cursor.fetchall()
df=pd.DataFrame(resultado,columns=["id","Nombre","Sexo"])
df=df.reset_index(drop=True)
df

   id    Nombre   Sexo
0   1      Luca  Rossi
1   3     Mateo   Mart
2   4       Ism   Cruz
3   5  Giovanni   Culo
4   6      Luca  Rossi
5   7      Luca  Rossi
6   8      Luca  Rossi

In [137]:
mi_tupla = [(1, "Juan", "M"), (2, "Maria", "F"), (3, "Pedro", "M")]
tupla3= (4,"Mateo","M")
tupla4=(5,"Caro","F")
mi_tupla += (tupla3 , tupla4)
print(mi_tupla)

[(1, 'Juan', 'M'), (2, 'Maria', 'F'), (3, 'Pedro', 'M'), (4, 'Mateo', 'M'), (5, 'Caro', 'F')]

## Eliminar datos

In [106]:
import mysql.connector as sql
db = sql.connect(user='m.martinez11',password='gotenssj5',host='localhost', database='pysql',port='3306') 
cursor=db.cursor()

query="DELETE FROM clienti WHERE name ='Caro'"
cursor.execute(query)
db.commit()
print("Numero de filas eliminadas:",cursor.rowcount)

Numero de filas eliminadas: 1