In [55]:
import pandas as pd ##Pandas nunca falta 
from lxml import html ##lxml para leer paginas en html
from string import ascii_uppercase as alfabeto
import pickle

In [34]:
## Aca se trae los documentos html en este caso se quiere extraer las tablas vacias de el mundial 2022
todas_tablas=pd.read_html("https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup", encoding="utf-8")

In [40]:
todas_tablas[12]

         Qatar    Team                            Senegal
0  Muntari 78'  Report  Dia 41' Diédhiou 48' B. Dieng 84'

In [45]:
#A-->H
#Extraccion de tablas de la pagina web, cambia cada 7 indices 
todas_tablas[61]

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    0  0  0  0   0   0   0    0
1    2        Ghana    0  0  0  0   0   0   0    0
2    3      Uruguay    0  0  0  0   0   0   0    0
3    4  South Korea    0  0  0  0   0   0   0    0

In [48]:
alfabeto

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [50]:
## uso de la funcion ZIP para aplicar la letra del grupo a cada dataframe 
for letra, i in zip (alfabeto,range(11,67,7)):
    print(letra,i)

A 11
B 18
C 25
D 32
E 39
F 46
G 53
H 60

In [51]:
todas_tablas=pd.read_html("https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup", encoding="utf-8")
dict_tablas={} ##diccionario vacio que va a permitir almacenar los dataframes
for letra , i in zip(alfabeto, range(12,68,7)):  ## Se hace un for para extraer todas las columnas 
    df= todas_tablas[i]
    df.rename(columns={df.columns[1]:"Team"}, inplace=True) ## aca se quiere cambiar las columnas Teamvte a Team 
    df.pop("Qualification") ## se elimina la columna Qualification 
    dict_tablas[f'Grupo{letra}']=df ##aca se añaden los grupos a el diccionario

In [52]:
dict_tablas.keys() ##funcion keys para devolver todos los elementos que son grupos

dict_keys(['GrupoA', 'GrupoB', 'GrupoC', 'GrupoD', 'GrupoE', 'GrupoF', 'GrupoG', 'GrupoH'])

In [54]:
dict_tablas["GrupoA"]

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1    Qatar (H)    0  0  0  0   0   0   0    0
1    2      Ecuador    0  0  0  0   0   0   0    0
2    3      Senegal    0  0  0  0   0   0   0    0
3    4  Netherlands    0  0  0  0   0   0   0    0

In [56]:
## exportar Diccionario con libreria pickle, para poder utilizarlo en donde quiera 
with open("dict_table","wb") as output:
    pickle.dump(dict_tablas,output)